* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.page-title {
  font-family: 'Custom';
  font-size: 2.5rem;
  margin: 0;
  z-index: 3;
}

.cret-logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}

main{
  background-color: #ecab6c;
}

@media screen and (max-width: 768px) {
  .cret-logo {
    max-width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .cret-logo {
    max-width: 200px;
  }
}
.members-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  font-family: 'Text', sans-serif;
  margin-bottom: 1rem;
}

.member-column {
  flex: 1 1 300px;
  min-width: 250px;
  max-width: 300px;
  background: #efe9e3;
  padding: 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 0 0 transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.member-column li {
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;

  font-size: 1.1rem;
}

.member-column:hover {
  border-color: #be5939;
  box-shadow: 0 0 10px rgba(190, 89, 57, 0.5);
}

.member-column:hover li {
  transform: scale(1.05);
}

.column-footer {
  margin-top: 1rem;
  font-weight: bold;
  color: #be5939;
  font-size: 1.2rem;
  border-top: 1px solid #be5939;
  padding-top: 0.5rem;
  width: 100%;
}

h2,h3{
  font-family: 'Custom', sans-serif;
}

.about-text {
  font-family: 'Text', sans-serif;
  text-align: left;
  padding: 0 2rem;
  margin-bottom: 20px;
  line-height: 1.6; 
}

.subtitle {
  font-family: 'Custom', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #3f1300;
  width: 100%; 
  display: block; 
}

.main-content {
  width: 100vw;
  margin-right: calc(-50vw + 50%);
  background: #ecab6c;
  padding-top: 80px;
}
.about-section{
  margin-top:30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-text {
  flex: 2;
  min-width: 250px;
}