.facebook-feed-wrapper {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .fb-page {
    width: 100% !important;
    max-width: 700px;
    min-width: 280px;
  }
  