:root {
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Custom';
  src: url('../Fonts/Quirky Stitch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Text';
  src: url('../Fonts/handwrittenfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Custom', "Lucida Console", "Courier New", monospace;
  margin: 0;
}

header {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
